@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="team-member">
                <div class="team-member-inner">
                    <a href="https://www.linkedin.com/in/allaa-farrag-9a4525202" target="_blank" rel="noopener noreferrer">
                        <img class="img-circle" src="~/images/Alaa.jpg" alt="John Doe">
                    </a>
                    <h3>Alaa Farrag</h3>
                    <p>
                        Full stack 
                    </p>
                </div>
                <div class="team-member-info">
                    <p>
                        helped in models, Documentations and Idea development
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="team-member">
                <div class="team-member-inner">
                    <a href="https://www.linkedin.com/in/jerry-mouse-0b0852194" target="_blank" rel="noopener noreferrer">
                        <img class="img-circle" src="~/images/Heba.jpg" alt="John Doe">
                    </a>
                    <h3>Heba Mohey</h3>
                    <p>Web Designer</p>
                </div>
                <div class="team-member-info">
                    <p>UI design,Documentation,and Collecting data, models and Idea development</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="team-member">
                <div class="team-member-inner">
                    <a href="https://www.linkedin.com/in/dina-alkholy-117a151a7" target="_blank" rel="noopener noreferrer">
                        <img class="img-circle" src="~/images/Dina.jpeg" alt="John Doe">
                    </a>
                    <h3>Dina El-kholy</h3>
                    <p>Data analyst</p>
                    <p>(Team leader)</p>
                </div>
                <div class="team-member-info">
                    <p>
                        project requerments,Manage Tasks, machine learning models and Documentations
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="team-member">
                <div class="team-member-inner">
                    <a href="https://www.linkedin.com/in/anasamin22311/" target="_blank" rel="noopener noreferrer">
                        <img class="img-circle" src="~/images/Anas.jpg" alt="Anas">
                    </a>
                    <h3>Anas Amin</h3>
                    <p>Full-Stack</p>
                </div>
                <div class="team-member-info">
                    <p>Building website, helped in models, design and Documentations</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="team-member">
                <div class="team-member-inner">
                    <a href="https://www.linkedin.com/in/asmaa-elsayed-70b5a327a" target="_blank" rel="noopener noreferrer">
                        <img class="img-circle" src="~/images/Asmaa.jpg" alt="Asmaa">
                    </a>
                    <h3>Asmaa Elsayed</h3>
                    <p>Graphic designer</p>
                </div>
                <div class="team-member-info">
                    <p>writing project Documentation</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="team-member">
                <div class="team-member-inner">
                    <a href="https://www.linkedin.com/in/mohamed-leila-a0b6251b8" target="_blank" rel="noopener noreferrer">
                        <img class="img-circle" src="~/images/Mohamed.jpg" alt="Leila">
                    </a>
                    <h3>Mohamed Leila</h3>
                    <p>Frontend developer</p>
                </div>
                <div class="team-member-info">
                    <p>Helped in website design,Documentation and Idea development</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="team-member">
                <div class="team-member-inner">
                    <a href="https://www.linkedin.com/in/johndoe" target="_blank" rel="noopener noreferrer">
                        <img class="img-circle" src="~/images/7oda.png" alt="7oda">
                    </a>
                    <h3>Mahmoud</h3>
                    <p>Data analyst</p>
                </div>
                <div class="team-member-info">
                    <p>Developed ML model, Documentation, Data & search and Idea Development</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="team-member">
                <div class="team-member-inner">
                    <a href="https://www.linkedin.com/in/jerry-mouse-0b0852194" target="_blank" rel="noopener noreferrer">
                        <img class="img-circle" src="~/images/download.png" alt="Marwan">
                    </a>
                    <h3>Marwan Atef</h3>
                    <p>Mobile Developer</p>
                </div>
                <div class="team-member-info">
                    <p>helped in Documentation, Collecting data and Idea development</p>
                </div>
            </div>
        </div>
        
    </div>
</div>