@model DNASequence
@{
    ViewData["Title"] = "Upload DNA Sequence";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="UploadSequence" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Sequence">Paste your DNA sequence:</label>
        <textarea asp-for="Sequence" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Sequence" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="FileName">Or upload a CSV or FASTA file:</label>
        <div class="custom-file">
            <input asp-for="FileName" type="file" accept=".csv,.fasta" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
            <span asp-validation-for="FileName" class="text-danger"></span>
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary w-100">Upload</button>
</form>